<!-- Header -->
<div class="relative bg-blue-600 md:pt-32 pb-32 pt-12" *ngIf="statistics">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-gray-500 uppercase font-bold text-xs">
                    Số điểm tập kết
                  </h5>
                  <span class="font-semibold text-xl text-gray-800">
                      {{statistics.accountTotal}}
                    </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500">
                    <i class="fa fa-map-marker"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-gray-500 mt-4">
                <ng-container *ngIf="statistics.changeAccount>0">
                  <span class="text-green-500 mr-2">
                    <i class="fa fa-arrow-up"></i> {{statistics.changeAccount}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeAccount<0">
                  <span class="text-red-500 mr-2">
                    <i class="fa fa-arrow-down"></i> {{statistics.changeAccount}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeAccount==0">
                  <span class="text-gray-500 mr-2">
                    <i class="fa fa-minus"></i> {{statistics.changeAccount}}%
                  </span>
                </ng-container>
                <span class="whitespace-no-wrap">
                    so tuần trước
                  </span>
              </p>

            </div>
          </div>
        </div>
        <ng-template>
          <app-card-stats></app-card-stats>
        </ng-template>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-gray-500 uppercase font-bold text-xs">
                    Số hàng gửi
                  </h5>
                  <span class="font-semibold text-xl text-gray-800">
                      {{statistics.examTotal}}
                    </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500">
                    <i class="fa-solid fa-truck-fast"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-gray-500 mt-4">
                <ng-container *ngIf="statistics.changeExam>0">
                  <span class="text-green-500 mr-2">
                    <i class="fa fa-arrow-up"></i> {{statistics.changeExam}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeExam<0">
                  <span class="text-red-500 mr-2">
                    <i class="fa fa-arrow-down"></i> {{statistics.changeExam}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeExam==0">
                  <span class="text-gray-500 mr-2">
                    <i class="fa fa-minus"></i> {{statistics.changeExam}}%
                  </span>
                </ng-container>
                <span class="whitespace-no-wrap">
                    so tuần trước
                  </span>
              </p>

            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-gray-500 uppercase font-bold text-xs">
                    Số hàng nhận
                  </h5>
                  <span class="font-semibold text-xl text-gray-800">
                      {{statistics.questionTotal}}
                    </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500">
                    <i class="fa-solid fa-box-open"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-gray-500 mt-4">
                <ng-container *ngIf="statistics.changeQuestion>0">
                  <span class="text-green-500 mr-2">
                    <i class="fa fa-arrow-up"></i> {{statistics.changeQuestion}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeQuestion<0">
                  <span class="text-red-500 mr-2">
                    <i class="fa fa-arrow-down"></i> {{statistics.changeQuestion}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeQuestion==0">
                  <span class="text-gray-500 mr-2">
                    <i class="fa fa-minus"></i> {{statistics.changeQuestion}}%
                  </span>
                </ng-container>
                <span class="whitespace-no-wrap">
                    so tuần trước
                  </span>
              </p>

            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-gray-500 uppercase font-bold text-xs">
                    Số khách hàng
                  </h5>
                  <span class="font-semibold text-xl text-gray-800">
                      {{statistics.examUserTotal}}
                    </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500">
                    <i class="fa fa-address-book"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-gray-500 mt-4">
                <ng-container *ngIf="statistics.changeExamUser>0">
                  <span class="text-green-500 mr-2">
                    <i class="fa fa-arrow-up"></i> {{statistics.changeExamUser}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeExamUser<0">
                  <span class="text-red-500 mr-2">
                    <i class="fa fa-arrow-down"></i> {{statistics.changeExamUser}}%
                  </span>
                </ng-container>
                <ng-container *ngIf="statistics.changeExamUser==0">
                  <span class="text-gray-500 mr-2">
                    <i class="fa fa-minus"></i> {{statistics.changeExamUser}}%
                  </span>
                </ng-container>

                <span class="whitespace-no-wrap">
                    so tuần trước
                  </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-4 md:px-10 mx-auto w-full -m-24">
  <div class="flex flex-wrap">
   <app-line-chart class="w-full xl:b0 px-4" [data]="statistics"></app-line-chart>
   <div class="w-full xl:-b0 px-4">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-white text-blueGray-700">
      <div class="px-6 py-4 border-0">
         <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
               <h3 class="font-bold text-lg text-blueGray-700">Thống kê hàng hóa tại điểm tập kết</h3>
            </div>
         </div>
      </div>
      <div class="block w-full overflow-x-auto overflow-y-auto max-h-[calc(7*3rem)]">
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Mã điểm tập kết</th>
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Tên điểm tập kết</th>
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Địa chỉ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactionList">
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <div class="flex items-center"><span class="ml-3 font-bold">{{ transaction.id }}</span></div>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <div class="flex items-center">{{ transaction.name }}</div>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <div class="flex items-center">{{ transaction.type }}</div>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <div class="flex items-center">{{ transaction.name }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
   </div>
   </div>
  </div>
  <app-admin-footer></app-admin-footer>
</div>