<div class="py-3">
  <h2 class="lg:text-2xl font-semibold text-gray-800 mb-6 mx-auto text-center">Định vị bưu gửi</h2>
  <div class="my-2 flex w-full items-center">
    <!-- Ô tìm kiếm với ô đầu vào và nút tìm kiếm -->
    <div class="grid grid-cols-6 gap-4 w-full">
      <!-- Ô đầu vào cho tìm kiếm -->
      <div class="col-span-1 "></div>
      <div class="col-span-3">
        <input id="searchInput" class="w-full p-2 border rounded" type="text" placeholder="Nhập mã bưu gửi">
      </div>
      <!-- Nút tìm kiếm -->
      <div class="col-span-1">
        <button class="w-full bg-blue-500 hover:bg-blue-600 text-white p-2 rounded">Tìm kiếm</button>
      </div>
      <div class="col-span-1 "></div>
    </div>
    
  </div>
  <div class="my-2 flex w-full items-center">
    <!-- Ô tìm kiếm với ô đầu vào và nút tìm kiếm -->
    <div class="grid grid-cols-6 gap-4 w-full">
      <!-- Ô đầu vào cho tìm kiếm -->
      <div class="col-span-1 "></div>
      <div class="col-span-4 ">
        <div class="flex items-center mt-5">
          <div id="tracking-progress">
            <div class="row mb-3">
                <div class="col-xs-9">
                  <h3> Tracking history </h3>
                </div>
                <div id="help-centre" class="col-xs-3 text-right">
                  <a target="_blank" href="http://localhost:4200/home"> Help <span class="tracking-sprite tracking-sprite-external"></span>
                  </a>
                </div>
            </div>
              <div class="new-tracking-event-list">
                <div class="row progress-event mb-2" [ngClass]="{'delivered': currentStep === 1}">
                  <div class="col-xs-3 col-md-2">
                    <div class="progress-event-date-day">
                      <span>20 Mar</span>
                    </div>
                    <div class="progress-event-date-time">
                      <span>05:25pm</span>
                    </div>
                    <div class="progress-event-date-local-label"></div>
                    <div class="public-type-indicator"></div>
                  </div>
                  <div class="col-xs-9 col-md-10" data-hj-masked="">
                    <div class="public-type-name"> {{startPost}} </div>
                    <p> Parcel has been reported as damaged. If not yet delivered </p>
                  </div>
                </div>
                <div class="row progress-event mb-2" [ngClass]="{'delivered': currentStep === 2}">
                  <div class="col-xs-3 col-md-2">
                    <div class="progress-event-date-day">
                      <span>22 Oct</span>
                    </div>
                    <div class="progress-event-date-time">
                      <span>07:43am</span>
                    </div>
                    <div class="progress-event-date-local-label"></div>
                    <div class="public-type-indicator"></div>
                  </div>
                  <div class="col-xs-9 col-md-10" data-hj-masked="">
                    <div class="public-type-name"> Điểm tập kết {{firstDepot}} </div>
                    <p> Parcel delivered </p>
                  </div>
                </div>
                <div class="row progress-event mb-2" [ngClass]="{'delivered': currentStep === 3}">
                  <div class="col-xs-3 col-md-2">
                    <div class="progress-event-date-day">
                      <span>22 Oct</span>
                    </div>
                    <div class="progress-event-date-time">
                      <span>06:53am</span>
                    </div>
                    <div class="progress-event-date-local-label"></div>
                    <div class="public-type-indicator"></div>
                  </div>
                  <div class="col-xs-9 col-md-10" data-hj-masked="">
                    <div class="public-type-name"> Điểm tập kết {{secondDepot}} </div>
                    <p> Parcel is loaded for delivery </p>
                  </div>
                </div>
                <div class="row progress-event mb-2" [ngClass]="{'delivered': currentStep === 4}">
                  <div class="col-xs-3 col-md-2">
                    <div class="progress-event-date-day">
                      <span>21 Oct</span>
                    </div>
                    <div class="progress-event-date-time">
                      <span>11:16am</span>
                    </div>
                    <div class="progress-event-date-local-label"></div>
                    <div class="public-type-indicator"></div>
                  </div>
                  <div class="col-xs-9 col-md-10" data-hj-masked="">
                    <div class="public-type-name"> Điểm giao dịch {{endPost}} </div>
                    <p> Parcel picked up </p>
                  </div>
                </div>
                <div class="row progress-event mb-2" [ngClass]="{'delivered': currentStep === 5}">
                  <div class="col-xs-3 col-md-2">
                    <div class="progress-event-date-day">
                      <span>21 Oct</span>
                    </div>
                    <div class="progress-event-date-time">
                      <span>11:16am</span>
                    </div>
                    <div class="progress-event-date-local-label"></div>
                    <div class="public-type-indicator"></div>
                  </div>
                  <div class="col-xs-9 col-md-10" data-hj-masked="">
                    <div class="public-type-name" *ngIf="deliverySuccess"> Hàng được gửi thành công </div>
                    <div class="public-type-name" *ngIf="!deliverySuccess"> Hàng gửi thất bại </div>
                    <p> Parcel picked up </p>
                  </div>
                </div>
              </div>
        </div>
        </div>
        
        
      </div>
      <div class="col-span-1 "></div>
    </div>
    
  </div>
</div>
